@font-face {
  font-family: "iconfont"; /* Project id 4044500 */
  src: url('iconfont.woff2?t=1687763572114') format('woff2'),
       url('iconfont.woff?t=1687763572114') format('woff'),
       url('iconfont.ttf?t=1687763572114') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cha:before {
  content: "\e68b";
}

.icon-xiangxia:before {
  content: "\e600";
}

